body {
  font-size: 12pt;
  padding: 0;
  margin: 0;
  color: #dd510e;
  text-shadow: black;
  font-family: "Lucida Console", Monaco, monospace;
}

.input-field {
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  /* background-color: #dd510e; */
  background-color: #dce2e6;
  ;
  /* text-shadow: -1px -1px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.info {
  font-size: .95rem;
  margin: 0;
  display: inline-block;
  padding: 4px;
  width: content;
}

.info input {
  background-color: #dce2e6;
}

.instruction {
  display: block;
  width: 100%;
  text-align: center;
}

.build-button {
  position: absolute;
  color: #dce2e6;
  background-color: #dd510e;
  font-size: 1.3rem;
  right: 20px;
  padding: 3px;
  margin: 5px;
  z-index: 1;
}

.build-button::before {
  content: '||||||';
  color: black;
}

button.build-button:hover {
  color: #dce2e6;
  background-color: #000;
}

.instruction-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid;
}

.instruction-container>* {
  width: 100%;
  margin: 15px;
  position: relative;
  align-items: center;
}

.instruction-container>h2 {
  text-align: center;
}

.instruction-container>p {
  text-align: center;
  max-width: 700px;
}

.logo {
  max-width: 700px;
  width: 100%;
  padding-right: 10px;
  /* margin: 0px auto; */
}

.emphasis {
  color: black;
  font-weight: bold;
  font-size: 1.2rem
}